/* Add your code in each class */
body {
  background-color: rgb(60, 148, 151);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-card {
  align-items: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.movie-image {
  height: 35vw;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  position: absolute;
}
.movie-details-container {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.descriptions {
  vertical-align: text-top;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 34.3vw;
  width: 29.3vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  vertical-align: text-top;
}
